<p-dataView [value]="users" [paginator]="true" [rows]="7" filterBy="name" layout="list">
  <ng-template pTemplate="header">
    <div class="flex justify-between">
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      <button pButton pRipple icon="pi pi-user-plus" class="p-button-rounded p-button-outlined"
              (click)="addNewUser()">
        <p-badge [value]="totalUsers.toString()"></p-badge>
      </button>
    </div>
  </ng-template>

  <ng-template let-user pTemplate="listItem">
    <div class="col-12 hover:cursor-pointer" pDraggable="dd" (click)="modifyUser(user)">
      <div class="user-list-item">
        <img [src]="user.profilePicture" [alt]="user.name + ' ' + user.surname"/>

        <div class="user-list-detail">
          <div class="username" [innerText]="user.name + ' ' + user.surname"></div>
          <div class="user-description">{{ user.description }}</div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template let-user pTemplate="gridItem">
    <div class="col-12 md:col-4">
      <div class="user-grid-item card">
        <div class="user-grid-item-content">
          <img [src]="user.profilePicture" [alt]="user.name + ' ' + user.surname"/>

          <div class="username">{{ user.name }}</div>
          <div class="user-description">{{ user.description }}</div>
        </div>

        <div class="user-grid-item-bottom"></div>
      </div>
    </div>
  </ng-template>
</p-dataView>
