<p-dataView #dv [value]="users" [paginator]="true" [rows]="7" filterBy="name,surname" layout="list">
  <ng-template pTemplate="header">
    <div class="flex justify-between">
      <input type="search" pInputText placeholder="Search by name"
             (input)="dv.filter($any($event.target).value, 'contains')">

      <button pButton pRipple icon="pi pi-user-plus" class="p-button-rounded p-button-outlined"
              (click)="addNewUser()">
        <p-badge [value]="totalUsers.toString()"></p-badge>
      </button>
    </div>
  </ng-template>

  <ng-template let-user pTemplate="listItem">
    <div class="col-12 hover:cursor-pointer" (click)="modifyUser(user)">
      <div class="flex items-center p-4 w-full user-list-item">
        <img [src]="user.profilePicture" [alt]="user.name + ' ' + user.surname"/>

        <div class="flex-1 user-list-detail">
          <div class="text-2xl font-bold username" [innerText]="user.name + ' ' + user.surname"></div>
          <div class="mb-4 user-description">{{ user.description }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
